.logo {
  margin: 10px;
  background-color: orangered !important;
  height: 50px;
}

.menu-header {
  h2 {
    color: white;
    text-align: center;
  }
}

.layout {
  height: 100vh;
}

.input-search {
  width: 99%;
  margin-left: 10px;
}

.site-badge-count-109 {
  margin-left: 8px;
}

.icon-notification {
  margin-left: 25px;
}

.site-layout-background {
  margin: 25px 16px;
  padding: 24;
  height: 90 vh;
}
