@import "../../styles/base/settings.scss";

body {
  background: #FFF;
}

.login__form {
  background-color:rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4);
  text-align: center;
  margin-top: 15%;
  height: 350px;
  border-radius: 25px;
  border: solid 2px #E97232;

  h2 {
    color: white;
    padding: 20px; 
    font-size: 36px;
    font-weight: 800;
    text-shadow: 1px 1px 2px black;
  }

  span {
    font-weight: 400;
  }

  label {
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
    color: white;
  }

}

.request {
  .buton-new {
    padding: 10px;
  }
}